<div class="footer" id="footer">
	<div>
		© 2008
	</div>
	<div id="offeredBy">
				<a href="http://www.rootlocusinc.com">
					Offered By: <img width="140" height="31" src="/images/RLI-logo-2.1.gif" border="0">
				</a>
			</div>
	<div>
		<a href="http://www.preallowed.com">
			Powered By: <font size=+1>Preallowed.com</font>
		</a>		
	</div>
	<div>
		Website Uptime Monitoring By <a href="http://pingability.com">http://pingability.com</a>
	</div>
	<div>
		Report problems or Abuse to <a href="mailto:webmaster@preallowed.com">webmaster@preallowed.com</a>
	</div>
	<div>
		<%=link_to "Our clients", ourclients_url %>
	</div>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3129031-6");
pageTracker._trackPageview();
</script>
