<h1>Listing clients</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for client in @clients %>
  <tr>
    <td><%= link_to( h(client.name), client) %></td>
    <td><%= link_to image_tag("edit.png", :border => 0, :width => 16, :height => 16), edit_client_path(client) %></td>
    <td><%= link_to image_tag("trash.png", :border => 0, :width => 16, :height => 16), client, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to image_tag("add.png", :border => 0, :width => 16, :height => 16), new_client_path %>
