<p><b>Welcome to preallowed.com</b></p>
Preallowed.com is a restful service, allowing for easy and flexible configuration of Roles Based Access Control for any software project.
<br/>
<%=link_to 'Login', '/login' %> to get started.
</br>

