<h1>Here is a growing list of the users of our service:</h1>
<p><font size=-2>If you wish to be added to the list, email us at <a href="mailto:support@preallowed.com">support@preallowed.com</a></font></p>
	<ul>
		<li><a href="http://www.preallowed.com">http://www.preallowed.com</a></li>
		<li><a href="http://www.cleantogether.com">http://www.cleantogether.com</a></li>
		<li><a href="http://castavote.custommode.com">http://castavote.custommode.com</a></li>
	</ul>
	
	
<p><font size=-2>You can always download the source code from <a href="http://github.com/dmitryame/preallowed/tree/master">http://github.com/dmitryame/preallowed/tree/master</a> and install it on your local infrastructure if you choose so. Please let us know what you think about the software by writing to <a href="mailto:feedback@preallowed.com">feedback@preallowed.com</a></font></p>
