<h1>New Scope</h1>

<% form_for(:scope, :url => client_scopes_path) do |f| %>
	<p><b>Name</b></br>   <%= f.text_field :name %> </p>
	<p><%=submit_tag "Create"%></p>
<%end%>

<%= link_to 'back', clients_path%>