<h1>New Resource</h1>

<% form_for(:resource, :url => client_scope_resources_path) do |f| %>
	<table>
		<tr>
			<td>
				<p><b>Name</b><%= f.text_field :name %></p>
			</td>
			<td>
				<b>Type</b>
				<%= f.select :resource_type_id, ResourceType.find(:all).map{ |rt| [rt.name, rt.id] } %>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<p><%=submit_tag "Create"%></p>
			</td>
		</tr>
	</table>
<%end%>

<%= link_to 'back', client_scopes_path%>