<p>
  <b>Name:</b>
  <%=h @resource.name %>
</p>


<%= link_to image_tag("back.png", :border => 0, :width => 16, :height => 16), client_resources_path(@client) %>
<%= link_to image_tag("edit.png", :border => 0, :width => 16, :height => 16), edit_client_resource_path(@client, @resource) %>

<div class="associations_control">
	<%= render :partial => 'draggable_roles' %>
</div>
