<h1>Role Details</h1>
<p><b>Name:</b><%=h @role.name%></p>


<%= link_to 'edit', edit_client_role_path(@client, @role)%> |
<%= link_to 'back', client_path(@client)%>


<%#resources%>
<h1>Roles Resources</h1>
<% unless @role.resources.empty? %>
	<table>
		<tr><td>qwe</td></tr>
	<% #render :partial => "/scopes/scope", :collection => @client.scopes %>
	</table>
<% end %>


add resources here
